# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc
*.egg-info/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/
out/

# OS
.DS_Store

# Build
/build
/dist
